server:
  port: 8080

spring:
  application:
    name: libra-bms
  profiles:
    active: dev
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/libra_bms?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root&123
    druid:
      initial-size: 5
      max-active: 20
      min-idle: 5
      max-wait: 60000
#  data:
#    redis:
#      host: localhost
#      port: 6379
#      password: 
#      database: 0

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  type-aliases-package: com.libra.admin.entity
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-field: is_deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

jwt:
  secret: libra-bms-secret-key-libra-bms-secret-key-libra-bms
  expiration: 86400

logging:
  level:
    com.libra: debug
